/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-radius: 6px;
    background-color: #c6c6c6;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

body,
html {
    background: #f4f4f4;
    color: #000;
    font-family: Apple System, "SF Pro SC", "SF Pro Display", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", sans-serif;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

select {
    cursor: pointer;
    color: #333;
    outline: 0!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

div,
input,
textarea,
ul {
    resize: none;
    outline: 0;
    font-size: inherit;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.link {
    color: #4386f5;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.full {
    display: block;
    width: 100%;
}

.hide {
    display: none;
}

.center {
    margin: 0 auto;
}

.thick-scrollbar::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.thick-scrollbar::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    border-width: 0;
    border-color: #fff;
    border-radius: 6px;
    background-color: #c6c6c6;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

aside.ant-layout-sider {
    flex: 0 0 auto !important;
    max-width: 400px !important;
    min-width: 200px !important;
    width: auto !important;
}